body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #fff8fb;
    color: #4a4a4a;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    background-color: #f8c8dc !important;
    padding: 12px 20px;
}

/* LOGO */
.navbar-brand {
    color: #5a2a3a !important;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

/* NAV LINKS */
.nav-link {
    color: #5a2a3a !important;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

/* HOVER EFFECT */
.nav-link:hover {
    color: #b94f8a !important;
    transform: scale(1.05);
}

/* ACTIVE LINK */
.nav-link.active {
    color: #b94f8a !important;
    font-weight: 700;
}

/* HERO SECTION */
header {
    background: linear-gradient(135deg, #ffe4ec, #fff);
    color: #5a2a3a;
}

/* BUTTONS */
.btn-primary {
    background-color: #d36ba6;
    border: none;
}

.btn-primary:hover {
    background-color: #b94f8a;
}

/* CARDS */
.card {
    border: none;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card h4 {
    color: #b94f8a;
}

/* SECTION TITLES */
h1, h2, h3 {
    color: #b94f8a;
}

/* FOOTER */
footer {
    background-color: #f8c8dc ;
    color: #5a2a3a;
}